* {
  box-sizing: border-box;
}

#fondo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: lightgrey;
  border: thin solid black;
  z-index: -3;
}

.cuerpo {
  position: relative;
  top: 15em;
  margin: auto;
  border: thin solid black;
  height: 30em;
  width: 30em;
  background-color: white;
}

.bordeojos {
  position: relative;
  border-radius: 6em;
  top: 10em;
  height: 10em;
  width: 10em;
  background-color: black;
}

.derecha {
  position: absolute;
  right: 0em;
}

#mogut {
  position: absolute;
  left: 100px;
  top: 6.5em;
}
